<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        ##############################################################################
        #
        #    pdi_connector module for OpenERP, Module to manage Pentaho Data Integration
        #    Copyright (C) 2010 SYLEAM ([http://www.syleam.fr/])
        #              Christophe CHAUVET [christophe.chauvet@syleam.fr]
        #
        #    This file is a part of pdi_connector
        #
        #    pdi_connector is free software: you can redistribute it and/or modify
        #    it under the terms of the GNU General Public License as published by
        #    the Free Software Foundation, either version 3 of the License, or
        #    (at your option) any later version.
        #
        #    pdi_connector is distributed in the hope that it will be useful,
        #    but WITHOUT ANY WARRANTY; without even the implied warranty of
        #    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        #    GNU General Public License for more details.
        #
        #    You should have received a copy of the GNU General Public License
        #    along with this program.  If not, see [http://www.gnu.org/licenses/].
        #
        ##############################################################################

        <!-- In 6.1 add PDI menu on Tools Menu -->
        <menuitem id="menu_pdi_menu" 
            parent="base.menu_tools"
            sequence="20"
            name="Pentaho Data Integration"/>

        <!-- Force display configuration menu on tools -->
        <menuitem name="Configuration" 
            parent="base.menu_tools"
            id="base.menu_lunch_survey_root"
            sequence="20"
            groups=""/>

        <menuitem id="menu_pdi_configuration_menu" 
            parent="base.menu_lunch_survey_root"
            sequence="20"
            name="Pentaho Data Integration"/>

    </data>
</openerp>
